//cursor
$cursor-default: default;


//font style
$font-Montserrat: 'Montserrat', sans-serif;
$font-Gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     


//font-weight
$font-weight-01: 300;
$font-weight-02: 400;
$font-weight-03: 500;


//font-size
$font-size-01: 1.9em;


//font-paragraph-size


//colors
$color-bg-skills: rgba(39, 29, 92, .7);


//breapoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;