@use '../styles/mixins';

.contact{
    @include mixins.flex-position(flex, column, space-evenly, center);
    width: 100%;
    height: 50vh;
    min-height: 500px;
    background-color: var(--color-bg);
    position: relative;
    cursor: default;

    h1{
        @include mixins.font-properties(4.3em, "Raleway", 200, var(--color-text))
    }

    .message{
        width: 90%;
        display: flex;
        justify-content: space-between;
        max-width: 830px; 

        .msg{
            width: 49%;

            h2{
                text-align: center;
                @include mixins.font-properties(2.6em, 'Montserrat', 400, var(--color-about-me));
            }

            p{
                text-align: center;
                @include mixins.font-properties(1.1em, 'Montserrat', 300, var(--color-text));
            }
        }
    }

    .contact-options{
        display: flex;
        gap: 15px;

        a{
            @include mixins.font-properties(2em, 'Montserrat', 400, var(--color-text));
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 10px;
            transition: .3s ease-in-out;

            &:hover{
                color: var(--color-about-me);
            }
        }
    }  
    
    
    @include mixins.respond-to(md){
        height: auto;
        gap: 50px;

        h1{
            font-size: 3.9em;
            letter-spacing: 1px;
        }

        .message{
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .msg{
                width: 100%;
                h2{
                    font-size: 1.8em;
                }

                p{
                    font-size: .9em;
                }
            }
        }

        .contact-options{
            width: 100%;
            display: flex;
            justify-content: center;
            a{
                font-size: 1.6em;
            }
        }
    }


    @include mixins.respond-to(sm){
        
        h1{
            font-size: 2.5em;
            letter-spacing: normal;
        }

        .message{


            .msg{

                h2{
                    font-size: 1.7em;
                }

                p{
                    font-size: .8em;
                }
            }
        }

        .contact-options{
            
            a{
                font-size: 1em;
            }
        }
    }
}




